#SPDX-License-Identifier: MIT-0
---
# tasks file for schedule-setup
# /etc/systemd/system for root
- name: Set service folder
  set_fact:
    service_folder: '/home/{{service_owner}}/.config/systemd/user'
  when: service_scope|default("user") == "user"
- name: Set service folder
  set_fact:
    service_folder: /etc/systemd/system
  when: service_scope|default("user") == "system"
- name: "Find uid of user"
  command: "id -u {{service_owner}}"
  register: the_user_uid
  check_mode: no # Run even in check mode, otherwise the playbook fails with --check.
  changed_when: false
  become: true
- name: Setup user directory
  file:
    path: '{{service_folder}}'
    state: directory
    owner: '{{service_owner}}'
    group: '{{service_group}}'
  become: true
- name: Add provided service file
  copy:
    dest: '{{service_folder}}/{{service_name}}.service'
    owner: '{{service_owner}}'
    group: '{{service_group}}'
    content: '{{service_content}}'
  become: true
  register: service_add_res
  when: service_content is defined
- name: Add service file
  template:
    dest: '{{service_folder}}/{{service_name}}.service'
    owner: '{{service_owner}}'
    group: '{{service_group}}'
    src: service_file.j2
  become: true
  register: service_add_res
  when: service_content is not defined
- name: Add timer
  template:
    dest: '{{service_folder}}/{{service_name}}.timer'
    owner: '{{service_owner}}'
    group: '{{service_group}}'
    src: timer_file.j2
  when: schedule|default("") != ""
  become: true
  register: timer_add_res
- name: Add timer failure handler
  copy:
    dest: '{{service_folder}}/{{service_name}}_failure.sh'
    owner: '{{service_owner}}'
    group: '{{service_group}}'
    content: |
      #!/bin/sh
      if (exit "$EXIT_CODE"); then
        systemctl disable --now {{user_flag}} {{service_name}}.timer
      fi
  when: schedule|default("") != ""
  vars:
    user_flag: service_scope|default("user") == "user"|ternary("--user","")
  become: true
#we couldn't have this as a handler because it was only firing for the first
#service added
- name: 'Start Service: {{service_name}}'
  service:
    name: '{{service_name}}.{{(schedule|default("") != "")|ternary("timer","service")}}'
    daemon_reload: true
    enabled: true
    state: restarted
    scope: '{{service_scope|default("user")}}'
  become: true
  become_user: '{{service_owner}}'
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ the_user_uid.stdout }}"
  when: service_add_res.changed or timer_add_res.changed

