#SPDX-License-Identifier: MIT-0
---
# tasks file for mysql-data-copy
- name: Set src and dest host groups
  command: 'ansible-inventory -i {{seed_inventory_file}} --list' #seed_inventory_file should bd defined in the inventory
  register: inventory_result
  delegate_to: localhost
- name: Transform inventory_result
  set_fact:
    loaded_inventory: '{{inventory_result.stdout|from_json}}'
- name: Set source hostname
  set_fact:
    src_host_hostname: '{{loaded_inventory["src_host"]["hosts"][0]}}'
- name: Create app shared directory
  file:
    state: directory
    path: '/usr/local/share/{{app_name}}'
    owner: '{{app_user}}'
    group: '{{app_user}}'
  become: true
- name: Add db copy source hosts
  set_fact:
    src_host:
      hostname: '{{src_host_hostname}}'
      ansible_port: '{{loaded_inventory["_meta"]["hostvars"][src_host_hostname]["ansible_port"]}}'
      ansible_user: '{{loaded_inventory["_meta"]["hostvars"][src_host_hostname]["ansible_user"]}}'
      ansible_ssh_private_key_file: '{{loaded_inventory["_meta"]["hostvars"][src_host_hostname]["seed_private_key"]}}'
- name: Check for previous import file
  stat:
    path: '/usr/local/share/{{app_name}}/mysql_dump.sql'
  register: file_check
- name: End early if evidence exists of having run the import already.
  meta: end_play
  when: file_check.stat.exists
- name: Dump MySQL database in src remote host
  community.mysql.mysql_db:
    login_user: '{{db_user}}'
    login_password: '{{db_pass}}'
    name: '{{db_name}}'
    state: dump
    target: /tmp/backup.sql
    dump_extra_args: "{{ dump_args|default('--no-create-info --complete-insert') }}"
  delegate_to: '{{src_host["hostname"]}}'
  vars:
    ansible_port: '{{hostvars[inventory_hostname]["src_host"]["ansible_port"]}}'
    ansible_user: '{{hostvars[inventory_hostname]["src_host"]["ansible_user"]}}'
    ansible_ssh_private_key_file: '{{hostvars[inventory_hostname]["src_host"]["ansible_ssh_private_key_file"]}}'
- name: Fetched the dumped sql from src host to localhost
  fetch:
    src: /tmp/backup.sql
    dest: ~/Documents/mysql_dumps/{{ now(fmt='%Y%m%d')}}_backup.sql
    flat: true
  delegate_to: '{{src_host["hostname"]}}'
  vars:
    ansible_port: '{{hostvars[inventory_hostname]["src_host"]["ansible_port"]}}'
    ansible_user: '{{hostvars[inventory_hostname]["src_host"]["ansible_user"]}}'
    ansible_ssh_private_key_file: '{{hostvars[inventory_hostname]["src_host"]["ansible_ssh_private_key_file"]}}'
- name: Clean up the dumped sql on src host
  file:
    path: /tmp/backup.sql
    state: absent
  delegate_to: '{{src_host["hostname"]}}'
  vars:
    ansible_port: '{{hostvars[inventory_hostname]["src_host"]["ansible_port"]}}'
    ansible_user: '{{hostvars[inventory_hostname]["src_host"]["ansible_user"]}}'
    ansible_ssh_private_key_file: '{{hostvars[inventory_hostname]["src_host"]["ansible_ssh_private_key_file"]}}'
- name: Copy MySQL dump file to destination remote host
  copy:
    src: ~/Documents/mysql_dumps/{{ now(fmt='%Y%m%d')}}_backup.sql
    dest: '/usr/local/share/{{app_name}}/mysql_dump.sql'
- name: Install PyMySQL #needed for ansible to do stuff with mysql
  apt:
    name: '{{pymysql_pkg}}'
    state: present
  become: true
- name: Import MySQL dump into database
  community.mysql.mysql_db:
    name: '{{db_name}}'
    state: import
    target: '/usr/local/share/{{app_name}}/mysql_dump.sql'
    login_user: '{{db_user}}'
    login_password: '{{db_pass}}'